@import "../../scss/variables";
@import "../../scss/fonts";

.component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  div {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 28px;
    text-align: center;

    h2 {
      font-family: $font-family_2;
      color: $color_5;
      font-size: 24px;
      margin-bottom: 28px;
    }

    button {
      width: 100%;
      height: 42px;
      padding: 10px;
      border-radius: 10px;
      font-family: $font-family_2;
      color: $color_7;
      background: linear-gradient(to right, $color_2, $color_3);
      border: none;
      cursor: pointer;
      transition: transform 0.1s;
    }
  }
}
