@import "../../scss/variables";
@import "../../scss/fonts";

.advertisement {
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  // Центрирование по высоте
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  img {
    border-radius: 10px;
    object-fit: cover;
    max-width: 100%;
    max-height: 70vh;
  }
  
  p {
    margin-top: 10px;
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
  }
  
  button {
    margin-top: 10px;
    width: 100%;

    height: 42px;
    min-height: 42px;
    margin-bottom: 14px;
    border-radius: 10px;
    font-family: $font-family_2;
    font-size: 12px;
    color: $color_7;
    background: linear-gradient(to right, $color_2, $color_3);
    border: none;
    cursor: pointer;
    transition: transform 0.1s;
  }

  .formatted_text {
    color: $color_7;
    font-family: $font-family_2;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);

    // background-color: black;
    border-radius: 10px;
    padding: 20px;
  }
}