$font-family_1: "OpenSans Regular", Verdana, Tahoma, sans-serif;
$font-family_2: "OpenSans Semibold", Arial, sans-serif;
$font-family_3: "Montserrat Regular", sans-serif;
$font-family_4: "Montserrat Medium", sans-serif;
$font-family_5: "Montserrat Bold", sans-serif;

$color_1: #ececec;
$color_2: #3a74cc;
$color_3: #4891ff;
$color_4: #000000;
$color_5: #24222e;
$color_6: #999999;
$color_7: #ffffff;

$background-color_1: #ececec;
$background-color_2: #ffffff;
$background-color_3: #24222e;
$background-color_4: #383547;
$background-color_5: rgba(0, 0, 0, 0.2);
$background-color_7: #f2f2f2;
$background-color_8: #e6e6e6;
$background-color_9: transparent;

$svg-color_1: #b3b3b3;
$svg-color_2: #ececec;

$border-color_1: #ececec;

$checked-color: #4891ff;

$error-color: #FF0000;