@import "../../scss/variables";
@import "../../scss/fonts";

.contacts {
  width: 100%;
  padding: 28px;
  border-radius: 10px;

  background-color: $background-color_2;

  p {
    width: 100%;
    margin: 7px 0;

    font-family: $font-family_1;
    color: $color_5;
    font-size: 14px;
  }
}

.title {
  width: 100%;
  margin: 14px 0;

  font-family: $font-family_2;
  color: $color_5;
  font-size: 16px;
}

.contact_container {
  display: flex;
  flex-direction: column;

  & div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    & span {
      margin-right: 10px;
    }
  }
}